@import '@fontsource/inter';
@import '@fontsource/inter/500.css';/* peso específico */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0%;
}